<div class="container">
  <h1><%= @cocktail.name %></h1>

  <%= link_to "Delete", cocktail_path(@cocktail),
  method: :delete,
  data: { confirm: "Are you sure?" } %>

  <%= link_to "Back to all cocktails", cocktails_path %>
</div>
