// Place all the styles related to the Doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cocktail_dose {
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
